
/* Main Page */

*{
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  background-color: #434640;
  width: 90%;
  height: 90%;
  padding: 5%;
}


/* Nav Bar  */
.link {
  border: none;
  color: aliceblue;
  background-color: #C57468;
  font-family: monospace;
  font-size: 20px;
  margin: 5%;
  padding: 5px 8px;
  border-radius: 8px;
  text-decoration: none;
}


/* Header */ 
h1 {
  font-family: monospace;
  font-size: 50px;
  color: #F8F7F7;
  margin-bottom: 2%;
}


/* Reviews */
.review-list {
  list-style: none;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.review-item {
  width: 350px;
  /* height: 410px; */
  margin: 1.5rem;
  box-shadow: 5px 5px 5px rgba(13, 12, 12, 0.358);
  background-color: #A9A697;
  font-family: monospace;
  color: #F8F7F7;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.images {
  max-height: 200px;
  max-width: 280px;
  border-radius: 10%;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

.button {
  border: none;
  color: aliceblue;
  background-color: #C57468;
  font-family: monospace;
  font-size: 15px;
  padding: 3px 5px;
  border-radius: 8px;
  text-decoration: none;
  margin: 2px;
}

.button-container {
  margin: 5%;
}


/* single review page */
.single-review {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  box-shadow: 5px 5px 5px rgba(13, 12, 12, 0.358); 
  background-color: #A9A697;
  font-family: monospace;
  color: #F8F7F7;
}

.review-title {
  margin-top: 5%;
  margin-bottom: 4%;
}

.review-comments {
  margin-top: 5%;
}

.comment-list {
  list-style: none;
  margin-top: 3%;
}

.singleComment {
  margin-bottom: 3%;
}

.loading-img {
  width: 200px;
  justify-content: center;
}

/* votes */

.voting-buttons {
  margin: 5px;
}

.user-list {
  list-style: none;
  display: grid;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 33% 33% 33%;
}

.category-list {
  margin-top: 3%;
  background-color:#A9A697;
  font-size: 20px;
}